*, *::before, *::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: sans-serif;
  display: block;
  padding: 8px;
}

.main-brand {
  font-family: 'Great Vibes', sans-serif;
  font-size: 60px;
  font-weight: normal;
  text-align: center;
  margin: 60px 0;
  /* forgot */
}

.row {
  display: flex;
  border: 1px solid #333;
  align-items: stretch;
  margin: 0 8px;
}

.story {
  padding: 16px;
  border: 1px solid #333;
}

.story-title {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: normal;
  margin: 15px 0;
}

.story-body {
  display:flex;
  align-items: stretch;
  line-height: 1.5;
}

.story-image {
  width: 100%;
}

.quarter {
  width: 25%;
}

.half {
  width: 50%;
}

.three-quarters {
  width: 75%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 30px;
  color: #555;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

}

.nav-item a {
  text-decoration: none;
  color:#555;
}

.nav-item a:hover {
  text-decoration: underline;
}

.nav-item:nth-child(1) { background-color: #ffeaa7; }
.nav-item:nth-child(2) { background-color: #81ecec; }
.nav-item:nth-child(3) { background-color: #55efc4; }
.nav-item:nth-child(4) { background-color: #74b9ff; }
.nav-item:nth-child(5) { background-color: #a29bfe; }
