*, *::before, *::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-brand {
  font-family: 'Great Vibes', sans-serif;
  font-size: 60px;
  font-weight: normal;
  text-align: center;
}

.row {
  display: flex;
  border: 1px solid #ccc;
}

.story {
  padding: 16px;
  border: 1px solid #ccc;
}

.quarter {
  width: 25%;
}

.half {
  width: 50%;
}

.three-quarters {
  width: 75%;
}
