*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}

.main-brand {
  font-family: 'Great Vibes', cursive ;
  text-align: center;
  font-weight: normal;
  /* added */
  margin: 60px 0;
  /* fixed; vertical horizontal/ NESW */
  font-size: 60px;
  /* added */
}

.story-title {
  font-weight: normal;
  /* added */
  font-style: italic;
  font-size: 30px;
  margin: 15px 0;
  text-align: center;
  /* end */
}

.story-text {
  line-height: 1.5;
}

.row {
  display: flex;
  align-items: stretch;
}

.story {
  border: 1px solid #333;
}

.story-image {
  width: 100%;
}

.quarter {
  width: 25%;
}

.half {
  width: 50%;
}

.three-quarters {
  width: 75%;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-item {
  width: 100%;
  flex: 1;
}
